<!-- MTI CONFIDENTIAL INFORMATION  -->
<!-- views/partials/footer.html -->
<footer>
    <!-- Mod by Roy for change Copyright and logo from MTI to SensX, 2019-03-21. -->
    <!-- <p class="footer section infoline_center">Copyright © 2017-2019 MTI, Inc. All Rights Reserved&nbsp;&nbsp;&nbsp;</p> -->
    <div class="row">
        <div class="col-md-11 text-right" style="margin-bottom:-20px">
            <img  src="public/images/sensXLogo2.png">
        </div>
        <div class="col-md-12 text-center">
            <p class="footer section infoline_center">Copyright © 2017-2019 MTI, Inc. and SensThys, Inc. All Rights Reserved&nbsp;&nbsp;&nbsp;</p>
        </div>
    </div>
    <!-- End by Roy for change Copyright and logo from MTI to SensX, 2019-03-21. -->
</footer>
