span {
  font-size:18px;
  font-weight:bold;
}

textarea{
    width: 100%;
}

.border {
  border:2px solid #aaa;
}

.row {
  padding:5px 0px 5px 0px;
}

.R2 .border {
  height:154px;
}

@media (min-width: 992px) {
  .left-5px {
    left:5px;
  }
}

.left-10px {
  left:10px;
}

.left-15px {
  left:15px;
}
